description = "Вводный верхний блок"
==
<div class="container">
    <!-- Profile Modern-->
    <article class="profile-modern">
        <div class="profile-modern-figure"><img class="profile-modern-image"
                                                src="{{'assets/images/team-1-336x336.jpg'|theme}}" alt=""
                                                height="336"/><a class="profile-modern-button" href="https://t.me/malkawian"><span
                        class="icon mdi mdi-telegram"></span><span class="icon mdi mdi-telegram"></span></a>
        </div>
        <div class="profile-modern-main">
            <div class="profile-modern-header">
                <div class="profile-modern-header-item">
                    <h3>Дмитрий Дорофеев</h3>
                    <p>Основатель, генеральный директор</p>
                </div>
            </div>
            <div class="row row-30">
                <div class="col-lg-12">
                    <p>Наша супер сила - в проработке качественной архитектуры и “красивого” кода. Мы все без
                        исключения, начиная от Junior, заканчивая Team Lead - фанатики своего дела.</p>
                </div>
            </div>
        </div>
    </article>
</div>