description = "Текстовый блок раздела О нас"
==
<div class="container">
    <div class="section-md">
        <h2 class="wow-outer"><span class="wow slideInDown">Фокус на главном</span></h2>
        <p class="wow fadeInUpSmall">
            В начале пути компании мы, как и большинство студий, разрабатывающих сайты, занимались созданием продукта
            “под
            ключ”. Через шесть лет “набитых шишек” задались вопросами: в чем наша уникальность? что мы делаем лучше чем
            90%
            наших конкурентов? какие виды работ приносят нам больше всего хвалебных отзывов?
            Мы определились со своей принадлежностью- Backend разработка. Тогда мы сразу отсекли все остальные виды
            работ и
            сфокусировали все свое внимание только на backend production, что позволило нам кратно вырасти в качестве
            выпускаемого продукта.

        </p>
    </div>
    <div class="section-md">
        <h2 class="wow-outer"><span class="wow slideInDown">Основательный подход</span></h2>
        <p class="wow fadeInUpSmall">
            Вдумчиво мы относимся не только к рабочем проектам, но и формированию своег досуга. Мы можем рассказать о
            том
            как
            прошел запуск спейс Х, на котором мы присутствовали. Как подготовиться и пробежать Нью-Йоркский марафон. Что
            нас
            удивило в экспериментальных зданиях адронного коллайдера.
        </p>
    </div>
</div>