<div class="container">
    <div class="layout-bordered">
        <div class="layout-bordered-item wow-outer">
            <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-phone text-primary"></div>
                <ul class="list-0">
                    <li><a class="link-default" href="tel:#">1-800-1234-678</a></li>
                    <li><a class="link-default" href="tel:#">1-800-9876-098</a></li>
                </ul>
            </div>
        </div>
        <div class="layout-bordered-item wow-outer">
            <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-email text-primary"></div><a class="link-default" href="mailto:#">info@demolink.org</a>
            </div>
        </div>
        <div class="layout-bordered-item wow-outer">
            <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-map-marker text-primary"></div><a class="link-default" href="#">2130 Fulton Street San Diego, CA 94117-1080 USA</a>
            </div>
        </div>
    </div>
</div>