description = "Блок контактной информации"
==
<div class="container">
    <div class="layout-bordered">
        <div class="layout-bordered-item wow-outer">
            <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-phone text-primary"></div>
                <ul class="list-0">
                    <li><a class="link-default" href="tel:+78126432174">+7(812)643-21-74</a></li>
                    <li><a class="link-default" href="tel:+79215798447">+7(921)579-84-47</a></li>
                </ul>
            </div>
        </div>
        <div class="layout-bordered-item wow-outer">
            <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-email text-primary"></div><a class="link-default" href="mailto:hello@backendproduction.com">hello@backendproduction.com</a>
            </div>
        </div>
        <div class="layout-bordered-item wow-outer">
            <div class="layout-bordered-item-inner wow slideInUp">
                <div class="icon icon-lg mdi mdi-map-marker text-primary"></div><a class="link-default" href="https://yandex.ru/maps/-/CCQ3n4EdTD" target="_blank">Домостроительная 16 оф.213</a>
            </div>
        </div>
    </div>
</div>