[breadcrumbs]
main-ol-class = "breadcrumbs-custom-path"
active-class = "active"
disabled-class = "disabled"
==
<header class="section page-header">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-minimal" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
             data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
             data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
             data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
             data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
             data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle="#rd-navbar-nav-wrap-1"><span></span>
                        </button>
                        <!-- RD Navbar Brand--><a class="rd-navbar-brand" href="{{ 'home'|page }}"><img
                                    src="{{ 'assets/images/logo-default-398x45.png'|theme }}" alt="" width="199"
                                    height="22"/></a>
                    </div>
                    <div class="rd-navbar-main-element">
                        <div class="rd-navbar-nav-wrap" id="rd-navbar-nav-wrap-1">
                            <!-- RD Navbar Nav-->
                            {% partial 'top-menu' %}
                        </div>
                        <!-- RD Navbar Search-->
                        <div class="rd-navbar-search" id="rd-navbar-search-1">
                            <button class="rd-navbar-search-toggle rd-navbar-fixed-element-2"
                                    data-rd-navbar-toggle="#rd-navbar-search-1"><span></span></button>
                            <form class="rd-search" action="#" data-search-live="rd-search-results-live-1" method="GET">
                                <div class="form-wrap">
                                    <label class="form-label" for="rd-navbar-search-form-input-1">Search...</label>
                                    <input class="form-input rd-navbar-search-form-input"
                                           id="rd-navbar-search-form-input-1" type="text" name="s" autocomplete="off">
                                    <div class="rd-search-results-live" id="rd-search-results-live-1"></div>
                                </div>
                                <button class="rd-search-form-submit fa-search" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
{% if this.page.id != 'home' %}
<!-- Breadcrumbs -->
<section class="breadcrumbs-custom bg-image context-dark" style="background-image: url(/themes/bp/assets/images/breadcrumbs-image-1.jpg);">
    <div class="breadcrumbs-custom-inner">
        <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
                <h6 class="breadcrumbs-custom-subtitle title-decorated">{{ this.page.title }}</h6>
                <h1 class="breadcrumbs-custom-title">{{ this.page.title }}</h1>
            </div>
            {% component 'breadcrumbs' %}
        </div>
    </div>
</section>
{% endif %}