<div class="cell-xl-5 height-fill wow fadeIn">
    <div style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/2/saint-petersburg/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Санкт‑Петербург</a><a
                href="https://yandex.ru/maps/2/saint-petersburg/house/domostroitelnaya_ulitsa_16/Z0kYdQBjSEwOQFhqfXx2c3pqYQ==/?ll=30.381918%2C60.071840&utm_medium=mapframe&utm_source=maps&z=14.98"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты</a>
        <iframe src="https://yandex.ru/map-widget/v1/-/CCQ~E2QcxB" width="100%" height="100%" frameborder="0"
                allowfullscreen="true" style="position:relative;"></iframe>
    </div>
</div>