[staticMenu]
code = "topmenu"

[viewBag]
==
{% if staticMenu.menuItems %}
<ul>
    {% for item in staticMenu.menuItems if not item.viewBag.isHidden %}
    <li class="rd-nav-item {% if this.page.id ==  item.code %}active{% endif %}"><a class="rd-nav-link" href="{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
    <li class="button button-primary button-winona wow fadeIn rd-nav-item" style="margin-top: 0px"><a href="#popup-form" class="popup-form" style="color:#ffffff">Перезвонить</a></li>
</ul>
{% endif %}
