title = "Услуги"
url = "/services"
layout = "default"
is_hidden = 0
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[blogCategories]
==
<section class="section section-lg text-center">
    <div class="container">
        {% for category in blogCategories.categories %}
            {% if category.slug == "uslugi" %}
                {% for categoryChild in category.children %}
                    <h3 class="wow-outer"><span class="wow slideInDown">{{categoryChild.name}}</span></h3>
                    {% partial "services/services-list" filter=categoryChild.slug %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</section>