description = "Блок услуг в списке кейсов"

[blogPost]
slug = "{{service.service}}"
categoryPage = "blog/category"
==
{% set post = blogPost.post %}

<article class="progress-linear">
    <a href="/services/{{service.service}}">
        <div class="progress-header">
            <p>{{post.title}}</p><span class="progress-value">{{service.weight}}</span>
        </div>
        <div class="progress-bar-linear-wrap">
            <div class="progress-bar-linear"></div>
        </div>
    </a>
</article>