description = "Блок Клиенты на Главной"
==
<?php
use Cms\Classes\Theme;

function onStart()
{
    $items = [];
    $theme_dir = Theme::getActiveTheme()->getDirName();
    $files = File::allFiles(themes_path($theme_dir) . '/assets/images/customers/');
    foreach ($files as $item) {
        $items[] = '/' . $item->getFilename();
    }
    $this['gallery'] = $items;
}
?>
==
<div class="container">
    <h3 class="wow-outer"><span class="wow slideInDown">Клиенты</span></h3>
    <!-- Owl Carousel-->
    <div class="owl-carousel owl-carousel-1" data-items="2" data-sm-items="3" data-md-items="4" data-lg-items="5"
         data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30"
         data-mouse-drag="false">
        {% for image in gallery %}
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image"><img src="{{ 'assets/images/customers/'|theme~image }}"
                                                                    alt="" width="135" height="auto"/></a></div>
        </div>
        {% endfor %}
    </div>
</div>