<div class="container">
    <h3 class="wow-outer"><span class="wow slideInDown">Клиенты</span></h3>
    <!-- Owl Carousel-->
    <div class="owl-carousel owl-carousel-1" data-items="2" data-sm-items="3" data-md-items="4" data-lg-items="5"
         data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30"
         data-mouse-drag="false">
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/logo_AV_rus.svg'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/gazprom-logo.png'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/stopexpress-logo.svg'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/aliexpress-logo.png'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/tele2-logo.jpg'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/dentex-logo.svg'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/logo-dovsight.png'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/gemainvest-logo.png'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/sadovaya62-logo.svg'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
        <div class="item wow-outer">
            <div class="wow slideInLeft"><a class="link-image" href="#"><img src="{{ 'assets/images/customers/putina-logo.jpg'|theme }}" alt="" width="135" height="87"/></a></div>
        </div>
    </div>
</div>