description = "Блок Схема работы на Главной"
==
<div class="range justify-content-xl-between">
    <div class="cell-lg-6 cell-xl-5 align-self-center container">
        <div class="row">
            <div class="col-md-10 cell-inner">
                <div class="section-lg inset-right-2">
                    <h3 class="wow-outer"><span class="wow slideInDown">Схема работы</span></h3>
                    <p class="wow fadeIn">Consulter is a business consulting company with more than 10 years of
                        experience in the industry offering reliable and affordable services to a wide range of
                        clients.</p>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear wow slideInDown" data-wow-delay=".05s">
                            <div class="progress-header">
                                <p>Получение запроса</p><span class="progress-value">2</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear progress-linear-color-1 wow slideInDown" data-wow-delay=".1s">
                            <div class="progress-header">
                                <p>Оценка проекта</p><span class="progress-value">10</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear progress-linear-color-2 wow slideInDown" data-wow-delay=".15s">
                            <div class="progress-header">
                                <p>Заключение договора, оплата аванса</p><span class="progress-value">3</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear progress-linear-color-3 wow slideInDown" data-wow-delay=".2s">
                            <div class="progress-header">
                                <p>Разработка архитектуры</p><span class="progress-value">20</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear wow slideInDown" data-wow-delay=".05s">
                            <div class="progress-header">
                                <p>Программирование</p><span class="progress-value">16</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear progress-linear-color-1 wow slideInDown" data-wow-delay=".1s">
                            <div class="progress-header">
                                <p>Внутреннее тестирование</p><span class="progress-value">12</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear progress-linear-color-2 wow slideInDown" data-wow-delay=".15s">
                            <div class="progress-header">
                                <p>Внедрение и разработка документации</p><span class="progress-value">10</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear progress-linear-color-3 wow slideInDown" data-wow-delay=".2s">
                            <div class="progress-header">
                                <p>Обучение пользователей</p><span class="progress-value">13</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear wow slideInDown" data-wow-delay=".15s">
                            <div class="progress-header">
                                <p>Подписание актов</p><span class="progress-value">3</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                    <div class="progress-linear-outer wow-outer">
                        <!-- Linear progress bar-->
                        <article class="progress-linear progress-linear-color-1 wow slideInDown" data-wow-delay=".2s">
                            <div class="progress-header">
                                <p>Сопровождение проекта</p><span class="progress-value">11</span>
                            </div>
                            <div class="progress-bar-linear-wrap">
                                <div class="progress-bar-linear"></div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell-lg-6 height-fill">
        <div class="figure-card">
            <div class="figure-card-sizer"></div>
            <img src="{{ 'assets/images/screens-2-960x762.jpg'|theme }}" alt="" width="960" height="762"/>
        </div>
    </div>
</div>