<div class="container">
    <div class="row row-30">
        <div class="col-sm-6 col-lg-4 wow-outer">
            <!-- Box Minimal-->
            <article class="box-minimal">
                <div class="box-minimal-icon linearicons-pie-chart wow fadeIn"></div>
                <div class="box-minimal-main wow-outer">
                    <h4 class="box-minimal-title wow slideInDown">Analytics</h4>
                    <p class="wow fadeInUpSmall">Let us help you set the right direction with analytics services to build a successful business.</p>
                </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 wow-outer">
            <!-- Box Minimal-->
            <article class="box-minimal">
                <div class="box-minimal-icon linearicons-briefcase wow fadeIn" data-wow-delay=".1s"></div>
                <div class="box-minimal-main wow-outer">
                    <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".1s">Management</h4>
                    <p class="wow fadeInUpSmall" data-wow-delay=".1s">The business management services we offer allow CEOs to better manage the vital business processes.</p>
                </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 wow-outer">
            <!-- Box Minimal-->
            <article class="box-minimal">
                <div class="box-minimal-icon linearicons-credit-card wow fadeIn" data-wow-delay=".2s"></div>
                <div class="box-minimal-main wow-outer">
                    <h4 class="box-minimal-title wow slideInDown" data-wow-delay=".2s">Finance</h4>
                    <p class="wow fadeInUpSmall" data-wow-delay=".2s">Diverse financial solutions provided by our experts guarantee increased profits for your business.</p>
                </div>
            </article>
        </div>
    </div>
</div>