description = "Блок Технологии на Главной"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "s-chem-my-rabotaem"
postsPerPage = 10
noPostsMessage = "Записей не найдено"
sortOrder = "sorting asc"
categoryPage = "blog/category"
postPage = "service-page"
==
<div class="container">
    <h3 class="wow-outer"><span class="wow slideInDown"><a href="services">Технологии, в которых мы эксперты</a></span>
    </h3>
    <div class="row row-30">
        {% for post in blogPosts.posts %}
        {% if post.favorite and post.published %}
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer">
            <!-- Post Tiny-->
            <article class="post-tiny wow fadeSlideInDown">
                {% if post.featured_images|length > 0 %}
                {% for image in post.featured_images|slice(0, 1) %}
                <a class="post-tiny-media" href="{{ post.url }}"><img src="{{ image.path }}" alt="" width="270"
                                                                      height="184"/></a>
                {% endfor %}
                {% else %}
                <a class="post-tiny-media" href="{{ post.url }}"><img
                            src="{{'assets/images/blog-layouts-1-270x184.jpg'|theme}}" alt="" width="270" height="184"/></a>
                {% endif %}
                <h5 class="post-tiny-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
            </article>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>