<div class="container">
    <h3 class="wow-outer"><span class="wow slideInDown">Технологии, в которых мы эксперты</span></h3>
    <div class="row row-30">
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/640px-PHP-logo.svg.png'|theme }}" alt="" height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/yii_logo_light.svg'|theme }}" alt="" height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/Logo-composer-transparent.png'|theme }}" alt=""
                 height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/Unofficial_JavaScript_logo_2.svg'|theme }}" alt=""
                 height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/Go_Logo_Blue.svg'|theme }}" alt="" height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/Symfony2.svg'|theme }}" alt="" height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/Git-logo.svg'|theme }}" alt="" height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/CSS3_logo_and_wordmark.svg'|theme }}" alt=""
                 height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/Mysql.png'|theme }}" alt="" height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/1c-bitrix_logo.jpg'|theme }}" alt="" height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/Docker_(container_engine)_logo.svg'|theme }}" alt=""
                 height="150"/>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 wow-outer technology">
            <img src="{{ 'assets/images/technology/HTML5_logo_and_wordmark.svg'|theme }}" alt=""
                 height="150"/>
        </div>
    </div>
</div>