<div class="section-halfscreen-inner">
    <div class="section-halfscreen-image wow fadeIn" style="background-image: url(themes/bp/assets/images/screens-1-960x752.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="section-halfscreen-content">
                    <div class="wow-outer heading-3">
                        <h2 class="wow fadeInUp" data-wow-delay=".2s"><span class="font-weight-bold">Backend разработка качественного кода для сложных проектов</span></h2>
                    </div>
                    <div class="wow-outer p">
                        <p class="custom-article wow fadeInDown" data-wow-delay=".2s">Дотошно проработаем архитектуру и реализуем её “с головой”</p>
                    </div><a class="button button-primary button-winona wow fadeIn" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
